celery==5.5.3
chardet==5.2.0
chardet==4.0.0
chromadb==1.0.15
fastapi==0.116.1
GitPython==3.1.44
GitPython==3.1.44
langchain==0.3.26
langchain_cohere==0.4.4
langchain_core==0.3.69
langchain_google_genai==2.1.8
langchain_huggingface==0.3.0
langchain_mistralai==0.2.11
langchain_ollama==0.3.4
langchain_openai==0.3.28
pydantic==2.11.7
pydantic_settings==2.10.1
python-dotenv==1.1.1
rank_bm25==0.2.2
SQLAlchemy==2.0.41
tenacity==9.1.2
